{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1 class="conf-quest">Delete Diary ?</h1>
  <img src="{% static 'images/header-colored.png' %}" alt="DD logo"/>
</div>
<hr />
<h2>Are you sure you want to delete the dairy: {{diary.title}}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <div class="secondary-actions">
    <button class="cancel-btn"><a href="{% url 'diary-detail' diary.id %}" 
      > 
      Cancel
    </a> 
    </button>
    <button type="submit" class="delete-btn">Delete 🗑️</button>
  </div>
</form>

{% endblock %}