{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/diaries/diary-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section >
  <div class="diary-container">

    <div class="diary-img">
      <img 
      src="{% static 'images/header-colored.png' %}" 
      alt="Diaries logo"
      >
    </div>
    <div class="diary-details">
      <h1 class="card-title">{{ diary.title }}</h1>
      <p>Created: {{ diary.created_at }}</p>
      <p>Last Updated: {{ diary.updated_at }}</p>
    </div>
  </div>
    <div class="entry-container">
      <p>{{ diary.content }}</p>
    </div>
</section>

{% endblock %}