{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/diaries/diary-index.css' %}"
/>
<link href="https://css.gg/css?=|bookmark" rel="stylesheet">

{% endblock %}

{% block content %}

<section class="page-header">
</section>
<h1> Diaries 🦋</h1>
<hr />

<section class="card-container">
  {% for diary in diaries %}
    <div class="card">
      <a href="{% url 'diary-detail' diary.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
            src="{% static 'images/header-colored.png' %}" 
            alt="DD logo"
            >
          </div>
          <div class="top-con">
            <p>{{ diary.created_at }}</p>
            <h2 class="card-title">{{ diary.title }}</h2>
          </div>
        </div>
        <p class="d-content">{{ diary.content }}</p>
      </a>
      <a href="#" class="bookmark-btn"> 
        <div class="bookmark">
          <p></p>
        </div>
      </a> 
    </div>
  {% endfor %}
</section>

{% endblock %}