{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/diaries/diary-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1> Diaries 🦋</h1>
</section>

<section class="card-container">
  {% for diary in diaries %}
    <div class="card">
      <a href="/diaries/{{ diary.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
            src="{% static 'images/header-colored.png' %}" 
            alt="DD logo"
            >
          </div>
          <h2 class="card-title">{{ diary.title }}</h2>
          <p>Created: {{ diary.created_at }}</p>
          <p>Last Updated: {{ diary.updated_at }}</p>
          <p>{{ diary.content }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}