{% extends 'base.html' %}

{% block content %}

<h1>About Daily Diary 🦋</h1>
<hr />
<div class="abt-content">
  <p>
  "Even little notes each day can help to organize your inner thoughts and gain clarity on your priorities" - unknown. 
  </p>
  <p>
    Welcome to the Daily Diary App – your go-to companion for capturing life's moments, thoughts, and reflections. Designed with simplicity and elegance in mind, our app makes it easy to capture your daily experiences, thoughts, and emotions. From keeping track of your personal milestones to setting future goals, the Daily Diary App helps you stay organized and mindful. Enjoy features like bookmarks to easily revisit your memories while ensuring your memories are safe and accessible whenever you need them. Embrace the habit of daily journaling and discover the transformative power of reflection with the Daily Diary App – where every day is worth remembering.
  </p>
</div>
  
  {% endblock %}
