section {
  padding: 8px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.content-container {
  background-color: rgb(205, 225, 237);
  font-size: 14px;
  font-variant: normal;
  line-height: 32px;   /* within paragraph */
  margin-bottom: 30px; /* between paragraphs */
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

p {
  background-color: aliceblue;
}

.diary-img img{
  flex-direction: column;
  width: 20%;
  height: 60px;
}

.actions{
  margin-bottom: 0;
  height: 20px;
}

.actions img{
  text-decoration: none;
  width: 40px;
  height: 30px;
  margin-bottom: 0;
  margin-right: 10px;
  flex-direction: row;
}

.top-half {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.top-half h1 {
  font-size: 20px;
  margin: 20px 0 20px;
}

.diary-details p {
  background-color: aliceblue;
  font-size: 14px;
  margin: 5px 0 16px;
  padding-left: 10px;
  width: 26%;
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
}

.dates {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .diary-container {
    padding: 8px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .diary-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }
}