.card-container {
  padding: 0 30px;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.card {
  width: 100%;
  /* max-height: 60px; */
  margin: 10px;
  /* border-radius: 50px; */
  border:3px solid rgb(189, 189, 189);
  background-color: rgb(205, 225, 237);
}

.bookmark {
  height: 70px;
  width: 60px;
  /* background-color: rgb(88, 88, 212); */
  border: 1px rgb(198, 182, 182);
  /* display: flex; */
  background-color: rgb(205, 159, 74);
}

.bookmark a {
  color: rgb(34, 36, 37);
  text-decoration: none;
  
}

.bookmark:hover {
  background-color: rgb(246, 163, 10);
  color: aliceblue;
}

.card-content {
  padding: 10px;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  flex-direction:row;
  gap: 30px;
  flex-wrap: wrap;
  border-color: aquamarine;
  /* border: 2px solid; */
}

.content-container > p:first-child{
  overflow: hidden;
  visibility: visible;
  display: flex;
}

.card-img-container img {
  height: 40px;
  /* display: flex; */
}

.card h2 {
  margin: 10px 0;
  font-size: 1.4rem;
}

.card p {
  margin: 5px 0;
  font-size: 1.3rem;
}

.page-header h1 {
  font-size: 30px;
  color: blueviolet;
}