section {
  padding: 8px 10px;
  background-color: antiquewhite;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.diary-container {
  justify-content: space-between;
  display: flex;
}

.entry-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(233, 216, 203);
}

.diary-img > img{
  width: 25%;
  max-width: 80px;
}

.diary-details {
  width: 98%;
}

.diary-actions {
  margin-top: 20px;
}

.diary-details h1 {
  font-size: 20px;
  margin: 15px 0 3px;
}

.diary-details p {
  font-size: 12px;
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  .diary-container {
    padding: 8px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .diary-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }
}